.home-container {
  text-align: center;
  padding: 50px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 12px 28px;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  background: linear-gradient(90deg, #a10050, #ff007a);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #ff007a;
}

.cta-button:hover {
  background: linear-gradient(90deg, #ff007a, #a10050);
  box-shadow: 0 0 20px #ff007a, 0 0 30px #a10050;
}

.chatpdf {
  height: 300px;
  /* border: 2px solid red; */
  /* height: 250px; */
}
